@model Booking_Room.Models.Booking

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .txtdeepshadow {
        text-align: center;
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 50px;
        height: 100px;
        padding-top: 40px;
        color: #131010;
        background-color: #fff;
        letter-spacing: .1em;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    }
</style>
<h2 class="txtdeepshadow">Create</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="booking_id" class="control-label"></label>
                <input asp-for="booking_id" class="form-control" placeholder="Input your booking ID...." style="font-size:1vw;"/>
                <span asp-validation-for="booking_id" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="booking_title" class="control-label"></label>
                <input asp-for="booking_title" class="form-control" placeholder="Input your booking title...." style="font-size:1vw"/>
                <span asp-validation-for="booking_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_time" class="control-label"></label>
                <input asp-for="start_time" class="form-control" style="font-size:1vw"/>
                <span asp-validation-for="start_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="end_time" class="control-label"></label>
                <input asp-for="end_time" class="form-control" style="font-size:1vw"/>
                <span asp-validation-for="end_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="participants" class="control-label"></label>
                <input asp-for="participants" class="form-control"  placeholder="Note some participants...." style="font-size:1vw" />
                <span asp-validation-for="participants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="note" class="control-label"></label>
                <input asp-for="note" class="form-control"  placeholder="Note something about the meeting...." style="font-size:1vw"/>
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room_id" class="control-label"></label>
                <select asp-for="room_id" class="form-control" asp-items="ViewBag.room_id" style="font-size:1vw"></select>
            </div>
            <div class="form-group">
                <label asp-for="users_id" class="control-label"></label>
                <input asp-for="users_id" class="form-control" placeholder="Type user who creat the meeting...." style="font-size:1vw"/>
                
                <span asp-validation-for="users_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" style="font-size:1vw; color:white;" />
            </div>
        </form>
    </div>
</div>

<a asp-action="Index" type="button" class="btn btn-link" style="font-size:1vw; color:dodgerblue">Back to Full List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
