@model Booking_Room.Models.User_s

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<style type="text/css">
    #title {
        /*position: absolute;*/
        top: 50%;
        left: 0;
        right: 0;
        color: #FFF;
        text-align: center;
        font-family: "lato", sans-serif;
        font-weight: 300;
        font-size: 50px;
        letter-spacing: 10px;
        margin-top: -60px;
        padding-left: 100px;
    }

        #title span {
            background: -webkit-linear-gradient(white, #38495a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
</style>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div id="title"><span>Create</span></div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User_id" class="control-label"></label>
                <input asp-for="User_id" class="form-control" placeholder="Your user ID...." style="font-size:1vw" />
                <span asp-validation-for="User_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_name" class="control-label"></label>
                <input asp-for="User_name" class="form-control" placeholder="User name...." style="font-size:1vw" />
                <span asp-validation-for="User_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" style="font-size:1vw; color:white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-link" style="font-size:1vw; color:dodgerblue">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
