@model Booking_Room.Models.User_s

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 style="color:coral">Bạn thực sự muốn xóa nười dùng này khỏi hệ thống?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal" style="color:cornflowerblue">
        <dt>
            @Html.DisplayNameFor(model => model.User_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User_name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="User_id" />
        <input type="submit" value="Xóa" class="btn btn-danger" style="font-size:1vw; color: white" /> <br /><br />
        <a asp-action="Index"class="btn btn-link" style="font-size:1vw; color:dodgerblue">Quay về trang danh sách</a>
        <br /><br />
    </form>
</div>
